@font-face
{
    font-family: LiberationSans;
    src: url(../fonts/LiberationSans-Regular.ttf);
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: LiberationSans;
	font-size: 16px;
	line-height: normal;
	direction: ltr;
	background-color: #3a3e41;
	color: #d9e1e4;
	overflow: hidden;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.preventTextSelection
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#topMenuBar
{
	height: 40px;
	padding-top: 10px;
	padding-left: 10px;
	cursor: default;
	-webkit-app-region: drag
}

#topMenuBar .menu
{
	padding-right: 20px;
	float: left;
	font-size: 0.8em;
	-webkit-app-region: no-drag;
}

#topMenuBar .rightMenu
{
	padding-right: 20px;
	float: right;
	font-size: 0.8em;
	-webkit-app-region: no-drag;
}

#topMenuBar #appName
{
	font-weight: bold;
	-webkit-app-region: drag
}

#left
{
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	width: 300px;
	overflow-x: auto;
	overflow-y: auto;
	cursor: default;
	padding: 5px;
}

#leftUnminimizeButton
{
	left: 15px;
	bottom: 56px;
	position: absolute;
	width: 15px;
	height: 20px;
	display: none;
}

#left #leftContent
{
    background-color: #45494c;
	margin-left: 10px;
	margin-right: 15px;
	padding: 10px;
}

#left #leftBottomButtons .leftBottomButton
{
    margin: 10px;
}

#left #leftBottomButtons #leftMinimizeButton
{
    float: left;
}

#left #leftBottomButtons #refreshDirectionTreeButton
{
    float: right;
}

#tabsScrollButtons
{
	position: absolute;
	top: 40px;
	right: 300px;
	width: 50px;
	height: 65px;
	background-color: #3a3e41;
	padding-top: 10px;
	padding-left: 10px;
	cursor: default;
}

#tabsScrollButtons .tabsScrollButton
{
	float: left;
	margin-right: 5px;
}

#tabsContainer
{
	position: absolute;
	top: 40px;
	left: 310px;
	right: 0px;
	bottom: 0px;
	width: 400px;
	height: 40px;
	cursor: default;
	overflow: hidden;
}

#tabs
{
	width: 99999px;
	background-color: #2e353b;
	overflow: auto;
}

#tabs .tab
{
    font-size: 14px;
	padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 40px;
    margin-top: 3px;
    margin-left: 4px;
    margin-bottom: 22px;
    float: left;
    min-width: 110px;
    height: 13px;
    background-image: url('../images/tab_file_icon.png');
    background-repeat: no-repeat;
    background-position: 10px 6.5px;
    background-color: #3a3e41;
}

#tabs .activeTab
{
	background-color: #2e353b !important;
}

#tabs .tab .tabContent
{
	overflow-x: hidden;
	overflow-y: hidden;
}

#tabs .tab .tabUnsavedChanges
{
    color: #ff0000;
}

#tabs .tab .tabCloseButton
{
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

#editor
{
	top: 80px;
	left: 310px;
	right: 0px;
	bottom: 20px;
	position: absolute;
}

#editor .ace_content
{
	background-color: #2e353b;
}

#editor .ace_gutter-layer
{
	background-color: #2e353b;
}

#directoryTree
{
	font-size: 14px;
	overflow-x: auto;
	overflow-y: auto;
}

#directoryTree .directoryTreeEntry
{
	white-space: nowrap;
	border-left: 1px solid #FFFFFF;
	padding-left: 5px;
}

#directoryTree .directoryTreeEntry.level0
{
    color: #6d7c86;
    border-left-color: #6d7c86;
}

#directoryTree .directoryTreeEntry img
{
	height: 15px; 
	vertical-align:middle
}

#directoryTree .directoryTreeEntry:hover
{
	font-weight: bold;
	/* font-size: 16px; */
}

#right
{
	top: 40px;
	right: 0px;
	position: absolute;
	width: 300px;
	background-color: #3a3e41;
}

#right #rightContent #addonSelect
{
	margin: 0px;
	background-color: #45494c;
	border: 1px #3a3e41 solid;
	width: 100%;
	height: 40px;
	padding: 10px;
	color: #d9e1e4;
	-webkit-appearance: none;
	font-family: LiberationSans;
	font-size: 16px;
}

#right #rightContent #addonContent
{
    margin-top: 10px;
	overflow-x: auto;
	overflow-y: auto;
	font-size: 14px;
}

#right #rightContent
{
    background-color: #45494c;
	margin-left: 10px;
	margin-right: 15px;
	padding: 10px;
	height: 500px;
	overflow-y: scroll;
	
}

#right #rightBottomButtons .rightBottomButton
{
    margin: 10px;
}

#right #rightBottomButtons #rightMinimizeButton
{
    float: right;
}

#rightUnminimizeButton
{
	right: 15px;
	bottom: 56px;
	position: absolute;
	width: 15px;
	height: 20px;
	display: none;
}
