body
{
	margin: 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: normal;
	direction: ltr;
	background-color: #3a3e41;
	color: #d9e1e4;
}

*::-webkit-scrollbar {
    width: 5px;
}

 
*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.preventTextSelection
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#topMenuBar
{
	height: 40px;
	padding-top: 10px;
	padding-left: 10px;
	cursor: default;
	-webkit-app-region: drag
}

#topMenuBar .menu
{
	padding-right: 20px;
	float: left;
	font-size: 0.8em;
	-webkit-app-region: no-drag;
}

#topMenuBar .rightMenu
{
	padding-right: 20px;
	float: right;
	font-size: 0.8em;
	-webkit-app-region: no-drag;
}

#topMenuBar #appName
{
	font-weight: bold;
	-webkit-app-region: drag
}

#left
{
	top: 40px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	width: 300px;
	overflow-x: auto;
	overflow-y: auto;
	cursor: default;
	padding: 5px;
}

#tabsScrollButtons
{
	position: absolute;
	top: 40px;
	right: 0px;
	width: 25px;
	height: 65px;
	background-color: #3a3e41;
	padding-top: 14px;
	padding-left: 10px;
	cursor: default;
}

#tabsContainer
{
	position: absolute;
	top: 40px;
	left: 310px;
	right: 0px;
	bottom: 0px;
	width: 700px;
	height: 70px;
	cursor: default;
	overflow: hidden;
}

#tabs
{
	width: 99999px;
	background-color: #2e353b;
	overflow: auto;
}

#tabs .tab
{
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 40px;
	margin-top: 3px;
	margin-left: 4px;
	margin-bottom: 20px;
	float: left;
	min-width: 220px;
	height: 26px;
	background-image: url('../images/tab_file_icon.png');	
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

#tabs .tab .tabContent
{
	overflow-x: hidden;
	overflow-y: hidden;
}

#tabs .tab .tabCloseButton
{
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

#editor
{
	top: 110px;
	left: 310px;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

#editor .ace_content
{
	background-color: #2e353b;
}

#editor .ace_gutter-layer
{
	background-color: #2e353b;
}

#directoryTree
{
	font-size: 14px;
	overflow-x: auto;
}

#directoryTree .directoryTreeEntry
{
	white-space: nowrap;
	border-left: 1px solid #FFFFFF;
	padding-left: 5px;
}

#directoryTree .directoryTreeEntry img
{
	height: 15px; 
	vertical-align:middle
}

#directoryTree .directoryTreeEntry:hover
{
	font-weight: bold;
	/* font-size: 16px; */
}

#right
{
	top: 110px;
	right: 0px;
	position: absolute;
	width: 300px;
}

#right #rightSelect
{
	margin: 0px;
	background-color: #3a3e41;
	width: 100%;
	height: 40px;
	padding: 10px;
	color: #d9e1e4;
	border: none;
	-webkit-appearance: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}

#right #rightContent
{
	padding: 20px;
	font-size: 14px;
	height: 500px;
	overflow-y: scroll;
	
}
