body
{
	margin: 0px;
	color: #E6E1DC;
	background-color: #262626;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: normal;
	direction: ltr;
}

#left
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	width: 190px;
	overflow-x: auto;
	overflow-y: auto;
	cursor: default;
	padding: 5px;
}

#tabs
{
	top: 0px;
	left: 200px;
	right: 0px;
	bottom: 0px;
	height: 25px;
	position: absolute;
	overflow-x: auto;
	cursor: default;
}

#tabs .tab
{
	padding: 2px;
	margin-top: 1px;
	margin-right: 2px;
	border: solid 1px #ccc;
	border-radius: 5px;
	float: left;
	width: auto;
	height: 18px;
}

#tabs .tab .tabContent
{
	overflow-x: hidden;
	overflow-y: hidden;
}

#tabs .tab .tabCloseButton
{
	float: right;
}

#editor
{
	top: 25px;
	left: 200px;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

#directoryTree
{
	font-size: 12px;
}
